* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.carousel-item {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.041);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.carousel button {
  position: absolute;
  z-index: 3;
}
/*NAVBAR*/
.navbar {
  position: absolute;
  z-index: 5;
  bottom: 8rem;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    bottom: auto;
  }
}
.navbar-brand {
  padding-left: 3rem;
  font-weight: 700;
  font-size: 1.7rem;
}
@media (max-width: 992px) {
  .navbar-brand {
    padding-left: 1rem;
  }
}
.navbar-brand span {
  color: rgb(160, 5, 5);
}
.bg-light {
  background-color: #000000dc !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-nav li {
  padding-right: 2rem;
}
/*NAVBAR*/
/*SOCIAL MEDIA*/
section.social-media {
  position: absolute;
  z-index: 8;
  left: 8rem;
  top: 3rem;
  color: white;
  display: flex;

  justify-content: space-around;
  width: 10rem;
}
@media (max-width: 992px) {
  section.social-media {
    position: absolute;
    z-index: 8;
    left: auto;
    right: auto;
    top: 30vh;
    color: white;
    display: flex;

    justify-content: center;
    width: 100vw;
  }
}
section.social-media div {
  background-color: rgba(160, 5, 5, 0.61);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
}
section.social-media div:hover {
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
}

section.social-media div i {
  font-size: 1.6rem;
  color: white;
}
/*SOCIAL MEDIA*/
/*ADDRESS*/
section.address-info {
  position: absolute;
  right: 4rem;
  top: 3rem;
  z-index: 8;
  color: white;
  font-size: 1.1rem;
}
@media (max-width: 992px) {
  section.address-info {
    position: absolute;
    right: auto;
    left: auto;
    top: 50vh;
    z-index: 8;
    color: white;
    font-size: 1.1rem;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.603);
    padding-top: 1rem;
  }
}
section.address-info .address {
  text-align: right;
}
@media (max-width: 992px) {
  section.address-info .address {
    text-align: center;
  }
}

section.address-info .phone-number {
  font-size: 1.8rem;
  font-weight: 600;
}
@media (max-width: 992px) {
  section.address-info .phone-number {
    text-align: center;
  }
}
section.address-info hr {
  color: rgb(255, 0, 0);
  font-weight: 900;
}
@media (max-width: 992px) {
  section.address-info hr {
    display: none;
  }
}
/*ADDRESS*/
/*CLICK*/
section.click {
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  right: 2rem;
}
@media (max-width: 992px) {
  section.click {
    bottom: 1rem;
    right: auto;
    left: auto;
  }
}
section.click div.container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid rgb(160, 5, 5);
}
.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  overflow: hidden;
}
.dialogbox .body {
  position: relative;
  max-width: 800px;
  height: auto;
  margin: 10px 5px;
  padding: 5px;
  background-color: rgb(160, 5, 5);
  border-radius: 3px;
  border: 5px solid rgb(160, 5, 5);
  text-align: center;
}

.dialogbox.box-1 {
  transform: translateX(40%) rotate(-5deg);
  z-index: 10;
  transition: all 0.5s;
}
.dialogbox.box-2 {
  transform: rotate(3deg);
  z-index: 9;
  transition: all 0.5s;
}
.dialogbox.box-3 {
  transform: translateX(-30%) rotate(-5deg);
  z-index: 10;
  transition: all 0.3s;
}
.dialogbox.box-1:hover {
  transform: translateX(40%) rotate(0deg) scale(1.1);
  z-index: 11;
}
.dialogbox.box-2:hover {
  transform: rotate(0deg) scale(1.1);
  z-index: 11;
}
.dialogbox.box-3:hover {
  transform: translateX(-30%) rotate(0deg) scale(1.1);
  z-index: 11;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 1.5;
  color: rgb(168, 166, 166);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .message i {
  color: rgb(223, 79, 79);
  padding-right: 0.3rem;
  font-size: 1.1rem;
}

/*CLICK*/
